@media screen and (max-width: 281px) {
  nav h1 a {
    font-size: 10pt;
  }
  #restaurants-list {
    padding: 15px 1px 60px;
  }
  #restaurants-list li {
    padding: 5px 5px 5px;
  }
  #breadcrumb {
      padding: 10px 10px 16px;
  }
  #restaurant-container {
    padding: 0px 5px 30px;
  }
  #restaurant-name {
    font-size: 15pt;
    margin: 15px 0 15px;
  }
  #reviews-container {
    padding: 20px 5px 0;
  }
  #reviews-container h2 {
    font-size: 20pt;
  }
}

@media screen and (min-width: 650px) {
  #restaurant-container {
    width: 568px;
  	min-height: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .filter-options {
  	text-align: left;
    padding: 0 0 0 20px;
  }
}
